@tailwind base;
@tailwind components;
@tailwind utilities;


.row{
    @apply flex flex-wrap py-8 px-4 items-center;
}

.btn{
    @apply w-full px-4 py-2 rounded-lg text-white bg-gray-600 
}

.product .btn{
    transition: all 1s;
    transform: translateY(100%);
    opacity: 0;
}

.product:hover .btn{
    transform: translateY(0%);
    opacity: 1;
}

.category-img{
    height: 150px;
}